<div class="reset-container">
    <div class="reset-wrapper">
        <h2 class="title">Reset Password</h2>

        <form [formGroup]="userForm" (submit)="resetPassword()">
            <div class="form-content">

                <div *ngIf="showValidation || (formSubmitted && passwordControl.errors) "
                    class="validation-check-container arrow-left"
                    [class.invalid]="formSubmitted && passwordControl.errors">
                    <ul>
                        <li [class.checked]="!( passwordControl.errors?.required ||
                             passwordControl.errors?.minlength ) ">Min length is 6</li>
                        <li [class.checked]="!passwordControl.errors?.noNumericCharacter">Number is required
                        </li>
                        <li [class.checked]="!passwordControl.errors?.noUppercaseCharacter">Uppercase is
                            required</li>
                    </ul>
                </div>

                <div class="form-control-item">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter New Password" id="password" name="password"
                        formControlName="password" (focus)="showValidation=true" (blur)="showValidation=false" />
                </div>

                <div class="form-control-item ">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" placeholder="Confirm New Password" id="confirmPassword"
                        name="confirmPassword" formControlName="confirmPassword" />
                    <span class="text-danger" *ngIf="formSubmitted && confirmPasswordControl.errors?.required">
                        Password required
                    </span>
                    <span class="text-danger" *ngIf="formSubmitted && confirmPasswordControl.errors?.passwordMismatch">
                        Passwords should match
                    </span>
                </div>

                <div class="submit-button">
                    <button> Reset Password </button>
                </div>

            </div>
        </form>

    </div>
</div>