$primary: #241954;
$primary-border: #ced0e1;
$small-screen: 580px;

@mixin for-small-screen {
    @media (max-width: $small-screen) {
        @content;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin unicode($value, $color) {
    content: $value;
    display: inline-block;
    color: $color;
    padding: 0 6px 0 0;
}

.reset-container {
    background: #f6f5f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .reset-wrapper {
        width: 70%;
        max-width: 440px;
        background-color: #fff;
        @include border-radius(10px);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        color: $primary;
        .title {
            text-align: center;
            margin: 15px;
            padding: 10px;
            border-bottom: 1px solid $primary-border;
        }
    }
}

.form-content {
    position: relative;
    padding: 0 10%;
    background-color: #fff;

    .form-control-item {
        margin: 10px 0;
        label {
            display: block;
            font-weight: 600;
        }
        input {
            border: 1px solid $primary-border;
            background-color: #f8f9fb;
            @include border-radius(4px);
            padding: 12px 15px;
            margin: 8px 0;
            width: 80%;
            outline: none;
            @include for-small-screen {
                width: 100%;
            }
        }
        .text-danger {
            font-size: 12px;
            color: red;
            display: block;
        }
    }

    .submit-button {
        margin: 30px 0;
        text-align: center;
        button {
            background: #ffffff;
            border: 1px solid $primary-border;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
            @include border-radius(20px);
            color: $primary;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            cursor: pointer;
        }
    }
}

.validation-check-container {
    width: 160px;
    padding: 8px;
    background-color: #f8f9fb;
    @include border-radius(4px);
    border: 1px solid $primary-border;
    position: absolute;
    right: -70px;
    top: 20px;

    ul li {
        list-style-type: none;
        font-size: 12px;
        line-height: 22px;
    }
    ul li:before {
        @include unicode("\25CF", red); //unicode for dot
    }

    ul li.checked:before {
        @include unicode("\2713", green); //unicode for check mark
    }

    &.arrow-left:after {
        content: " ";
        position: absolute;
        left: -9px;
        top: 15px;
        border-top: 8px solid transparent;
        border-right: 8px solid lightblue;
        border-left: none;
        border-bottom: 8px solid transparent;
        @include for-small-screen {
            display: none;
        }
    }

    &.invalid {
        border: 1px solid red;
    }

    @include for-small-screen {
        width: 100%;
        position: unset;
    }
}
